#
# Path to the PLINK executable files
#
PLINK_HOME="/home/user/tools/plink_102020"
PLINK2_HOME="/home/user/tools/plink2_dev_080621"

#
# Installation Directory
# Specify the path to the directory in which you installed the PSReliP pipeline.
#
TOOL_INSTALL_DIR="/home/user/psrelip_pipeline"

#
# Working Directory
# Specify the path to the directory in which the analysis results and log files will be saved.
.
#
WD="/home/user/psrelip_pipeline/analysis_results"

#
# Path to the genotype input file
# Specify the path to the genotype input file.
# The file can be both VCF or BCF. The VCF file can be compressed (*.gz) or not.
#
VCF_FILE_NAME="/home/user/data/genetic_variant_data.vcf.gz"

#
# Path to the file that lists the samples
# Specify the path to the file with the list of IDs, names, and groups of samples that you want to include in the analysis.
# A space delimited text file with a header line (containing one, two, or three columns - 'SAMPLE_ID', 'SAMPLE_NAME', 'GROUP_ID'), and one line for each sample with one, two, or three fields, respectively.
# If $SAM_SELECT_FLAG is equal to 1, the 'SAMPLE_ID' field is required ('SAMPLE_NAME' and 'GROUP_ID' fields are optional). Sample ID must be the same as in the VCF file.
# Specify the path to this text file with the 'SAMPLE_ID' field if you want to remove all unlisted samples from the analysis.
# If $SAM_ANOTHER_NAME_FLAG is equal to 1, the 'SAMPLE_ID' and 'SAMPLE_NAME' fields are required ('GROUP_ID' field is optional). Sample ID must be the same as in the VCF file.
# Specify the path to this text file with the 'SAMPLE_ID' and 'SAMPLE_NAME' fields if you want to use the samples names that are different from the sample ids used in the VCF file.
# If $CLUSTERING_FLAG is equal to 0, the 'SAMPLE_ID' and 'GROUP_ID' fields are required ('SAMPLE_NAME' field is optional). Sample ID must be the same as in the VCF file.
# Specify the path to this text file with the 'SAMPLE_ID' and 'GROUP_ID' fields if you want to group samples based on some feature, instead of hierarchical clustering performed by PLINK.
#
# This SAMPLES_ID_FOR_ANA parameter is ignored if $SAM_SELECT_FLAG is equal to 0 and $SAM_ANOTHER_NAME_FLAG is equal to 0 and $CLUSTERING_FLAG is equal to 1.
#
# Empty string by default.
# SAMPLES_ID_FOR_ANA="/home/user/data/samples.list"
SAMPLES_ID_FOR_ANA=""

#
# Path to the output directory for the Shiny application
# Specify the path to the directory in which the Shiny app will be saved.
#
# SHINY_APP_DIR="/srv/shiny-server"
SHINY_APP_DIR="/home/user/ShinyApps"

#
# Flag to allow unrecognized chromosome codes (PLINK --allow-extra-chr flag)
# The flag that allows the user to refer to extra chromosome codes by name.
# When the input data contains unrecognized chromosome codes (contigs), and you want to use the variants located on these contigs in the analyses, you need to set EXTRA_CHR_FLAG to 1.
# Please note that all of these additional codes cannot begin with a digit character.
# If $EXTRA_CHR_FLAG is equal to 1, NUMBER_OF_CHROMOSOMES parameter is ignored.
# If you want to use the variants located only on the chromosomes that are identified by numeric code, you need to set EXTRA_CHR_FLAG to 0 and specify the number of chromosomes by NUMBER_OF_CHROMOSOMES parameter.
#
# Default value in the pipeline: 1
# EXTRA_CHR_FLAG=0
EXTRA_CHR_FLAG=1

#
# Number of chromosomes
# Specify the number of chromosomes that you want included in the analysis.
# For example, for rice cultivars: 12 chromosomes
# Ignored if $EXTRA_CHR_FLAG is equal to 1
#
# Default value in the pipeline: 0
# If $EXTRA_CHR_FLAG is equal to 0 and $NUMBER_OF_CHROMOSOMES is equal to 0, the value for $NUMBER_OF_CHROMOSOMES is reset to 99.
# NUMBER_OF_CHROMOSOMES=12
NUMBER_OF_CHROMOSOMES=0

#
# Keep only SNPs (PLINK --snps-only flag)
# '--snps-only' excludes all variants with one or more multi-character allele codes. (from PLINK 2.0 User Manual)
# If $SNP_ONLY_FLAG is equal to 1, this '--snps-only' flag is used.
#
# Default value in the pipeline: 0
# SNP_ONLY_FLAG=1
SNP_ONLY_FLAG=0

#
# Missing genotype rates [maximum per-variant]
# '--geno' filters out all variants with missing call rates exceeding the provided value (default 0.1) to be removed (from PLINK 2.0 User Manual)
#
# Default value in the pipeline: 0.2
GENO_VAL=0.2

#
# Missing genotype rates [maximum per-sample]
# Exclude samples (--mind) with missing call frequencies greater than a threshold (default 0.1). (from PLINK 2.0 Command-line help)
#
# Default value in the pipeline: 0.2
MIND_VAL=0.2

#
# Allele frequencies
# '--maf' filters out all variants with allele frequency below the provided threshold (default 0.01). (from PLINK 2.0 User Manual)
#
# Default value in the pipeline: 0.05
MAF_VAL=0.05

#
# Mean-imputes missing genotype calls (for '--pca' and '--make-rel')
# Use the 'meanimpute' modifier to request mean-imputes for missing genotype calls for the standard computation. (from PLINK 2.0 User Manual)
# If $IMPUTATION_FLAG is equal to 1, meanimpute flag is used ('--pca meanimpute', '--make-rel meanimpute').
# If $IMPUTATION_FLAG is equal to 0, meanimpute flag is not used ('--pca', '--make-rel').
#
# Default value in the pipeline: 1
# IMPUTATION_FLAG=0
IMPUTATION_FLAG=1

#
# Linkage disequilibrium (variant pruning)
# '--indep-pairwise' command produces a pruned subset of variants that are in approximate linkage equilibrium with each other, writing the IDs to plink2.prune.in. (from PLINK 2.0 User Manual)
# If $LD_PRUNING_FLAG is equal to 1, '--indep-pairwise' flag is used.
# If $LD_PRUNING_FLAG is equal to 1, the four following parameters are required: LD_WINDOW_SIZE, LD_WINDOW_SIZE_UNITS, LD_STEP_SIZE and LD_THRESHOLD.
#
# Default value in the pipeline: 1
# LD_PRUNING_FLAG=0
LD_PRUNING_FLAG=1

#
# Linkage disequilibrium (window size)
# Window size in variant count or kilobase (if the 'kb' modifier is present) units (from PLINK 2.0 User Manual)
# '--indep-pairwise <window size>['kb']'
# Ignored if $LD_PRUNING_FLAG is equal to 0.
#
# Default value in the pipeline: 100
LD_WINDOW_SIZE=100

#
# Linkage disequilibrium (window size units)
# Variant count ('vc') or kilobase ('kb') units
# Ignored if $LD_PRUNING_FLAG is equal to 0.
#
# Default value in the pipeline: "vc"
# LD_WINDOW_SIZE_UNITS="kb"
LD_WINDOW_SIZE_UNITS="vc"

#
# Linkage disequilibrium (variant count)
# Variant count to shift the window at the end of each step (default 1, and now required to be 1 when a kilobase window is used) (from PLINK 2.0 User Manual)
# Ignored if $LD_PRUNING_FLAG is equal to 0.
#
# Default value in the pipeline: 1
LD_STEP_SIZE=1

#
# Linkage disequilibrium (r2 threshold)
# Squared correlation threshold
# At each step, pairs of variants in the current window with squared correlation greater than the threshold are noted, and variants are greedily pruned from the window until no such pairs remain. (from PLINK 2.0 User Manual)
# Ignored if $LD_PRUNING_FLAG is equal to 0.
#
# Default value in the pipeline: 0.2
LD_THRESHOLD=0.2

#
# Hierarchical clustering
# Set CLUSTERING_FLAG to 0 if you want to group the samples based on some feature.
# Set CLUSTERING_FLAG to 1 if you want to cluster the samples into K (CLUSTER_K) clusters by hierarchical clustering performed by PLINK.
# If $CLUSTERING_FLAG is equal to 0, the 'SAMPLE_ID' and 'GROUP_ID' fields (in the file specified by the SAMPLES_ID_FOR_ANA parameter) are required.
#
# Default value in the pipeline: 1
# CLUSTERING_FLAG=0
CLUSTERING_FLAG=1

# Hierarchical clustering (clustering constraints)
# '--cluster --K <minimum final cluster count>' (from PLINK 1.9 User Manual)
# '--K' stops cluster merging once there are no more than the given number of clusters remaining. (from PLINK 1.9 User Manual)
# Ignored if $CLUSTERING_FLAG is equal to 0.
# If $CLUSTERING_FLAG is equal to 1 and $CLUSTER_K is less than 2, the value for $CLUSTER_K is reset to 2.
#
# Default value in the pipeline: 2
CLUSTER_K=2

#
# Sample selection
# Set SAM_SELECT_FLAG to 0 to use all samples for which data are present in the genotype input file. and set to 1 to use only selected samples.
# Set SAM_SELECT_FLAG to 1 to use only the samples listed in the file specified by SAMPLES_ID_FOR_ANA parameter (in which the 'SAMPLE_ID' field is required).
#
# Default value in the pipeline: 0
# SAM_SELECT_FLAG=1
SAM_SELECT_FLAG=0

#
# Setting sample names
# Set SAM_ANOTHER_NAME_FLAG to 0 to identify the samples by IDs used in the genotype input file.
# Set SAM_ANOTHER_NAME_FLAG to 1 to use the sample names other than sample IDs.
# If $SAM_ANOTHER_NAME_FLAG is equal to 1, 'SAMPLE_ID' and 'SAMPLE_NAME' fields (in the file specified by the SAMPLES_ID_FOR_ANA parameter) are required.
#
# Default value in the pipeline: 0
# SAM_ANOTHER_NAME_FLAG=1
SAM_ANOTHER_NAME_FLAG=0

#
# Types of image file formats
# Set the image file format to export the plot as a static image.
# Available formats are: png, jpeg, webp, svg, pdf
#
# Default value in the pipeline: "jpeg"
# PLOTLY_IMAGE_FORMAT="png"
# PLOTLY_IMAGE_FORMAT="svg"
PLOTLY_IMAGE_FORMAT="jpeg"

#
# Shiny application name
# Shiny app directory name: this name will be part of the URL of the Shiny application.
#
# Default value in the pipeline: "app_name"
OUTPUT_PREFIX="app_name"

#
# System resource usage (--memory)  
# Set size, in MB, of initial workspace malloc attempt. (from PLINK 2.0 Command-line help) 
# 32-bit PLINK limits workspace size to roughly 2 GB.
#
# Default value in the pipeline: 2000
#MAX_MEM_USAGE=8000
MAX_MEM_USAGE=2000

#
# System resource usage (--threads)
# Set maximum number of compute threads. (from PLINK 2.0 Command-line help)
#
# Default value in the pipeline: 8
MAX_THREADS=8

